# Capstone Project - Eng. Murilo Biss
### Data Engineering Capstone Project

#### Project Summary

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd

pd.set_option('display.max_colwidth', 1)
pd.set_option('display.max_columns', 50)

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
# Read in the data here
fname = 'data/immigration_data_sample.csv'
df = pd.read_csv(fname, index_col=0)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 4084316 to 4654865
Data columns (total 27 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   i94yr     1000 non-null   int64
 1   i94mon    1000 non-null   int64
 2   i94cit    1000 non-null   int64
 3   i94res    1000 non-null   int64
 4   i94port   1000 non-null   object
 5   arrdate   1000 non-null   int64
 6   i94mode   1000 non-null   int64
 7   i94addr   941 non-null    object
 8   depdate   951 non-null    float64
 9   i94bir    1000 non-null   int64
 10  i94visa   1000 non-null   int64
 11  count     1000 non-null   int64
 12  dtadfile  1000 non-null   int64
 13  visapost  382 non-null    object
 14  occup     4 non-null      object
 15  entdepa   1000 non-null   object
 16  entdepd   954 non-null    object
 17  entdepu   0 non-null      float64
 18  matflag   954 non-null    object
 19  biryear   1000 non-null   int64
 20  dtaddto   1000 non-null   object
 21  gender    859 non-null    object
 22  insnum    35 non-null     float64
 23  airline   967 non-null    object
 24  admnum    1000 non-null   int64
 25  fltno     992 non-null    object
 26  visatype  1000 non-null   object
dtypes: float64(3), int64(12), object(12)
memory usage: 218.8+ KB

In [6]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

22/08/29 15:43:49 WARN Utils: Your hostname, crislaine resolves to a loopback address: 127.0.1.1; using 192.168.0.110 instead (on interface wlo1)
22/08/29 15:43:49 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
:: loading settings :: url = jar:file:/opt/spark/jars/ivy-2.5.0.jar!/org/apache/ivy/core/settings/ivysettings.xml

Ivy Default Cache set to: /home/crislaine/.ivy2/cache
The jars for the packages stored in: /home/crislaine/.ivy2/jars
saurfang#spark-sas7bdat added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-edad58f9-37fa-4e91-a351-28c9111d080d;1.0
	confs: [default]
	found saurfang#spark-sas7bdat;2.0.0-s_2.11 in spark-packages
	found com.epam#parso;2.0.8 in central
	found org.slf4j#slf4j-api;1.7.5 in central
	found org.apache.logging.log4j#log4j-api-scala_2.11;2.7 in central
	found org.scala-lang#scala-reflect;2.11.8 in central
downloading https://repos.spark-packages.org/saurfang/spark-sas7bdat/2.0.0-s_2.11/spark-sas7bdat-2.0.0-s_2.11.jar ...
	[SUCCESSFUL ] saurfang#spark-sas7bdat;2.0.0-s_2.11!spark-sas7bdat.jar (1904ms)
downloading https://repo1.maven.org/maven2/com/epam/parso/2.0.8/parso-2.0.8.jar ...
	[SUCCESSFUL ] com.epam#parso;2.0.8!parso.jar (546ms)
downloading https://repo1.maven.org/maven2/org/apache/logging/log4j/log4j-api-scala_2.11/2.7/log4j-api-scala_2.11-2.7.jar ...
	[SUCCESSFUL ] org.apache.logging.log4j#log4j-api-scala_2.11;2.7!log4j-api-scala_2.11.jar (764ms)
downloading https://repo1.maven.org/maven2/org/slf4j/slf4j-api/1.7.5/slf4j-api-1.7.5.jar ...
	[SUCCESSFUL ] org.slf4j#slf4j-api;1.7.5!slf4j-api.jar (327ms)
downloading https://repo1.maven.org/maven2/org/scala-lang/scala-reflect/2.11.8/scala-reflect-2.11.8.jar ...
	[SUCCESSFUL ] org.scala-lang#scala-reflect;2.11.8!scala-reflect.jar (3680ms)
:: resolution report :: resolve 11617ms :: artifacts dl 7239ms
	:: modules in use:
	com.epam#parso;2.0.8 from central in [default]
	org.apache.logging.log4j#log4j-api-scala_2.11;2.7 from central in [default]
	org.scala-lang#scala-reflect;2.11.8 from central in [default]
	org.slf4j#slf4j-api;1.7.5 from central in [default]
	saurfang#spark-sas7bdat;2.0.0-s_2.11 from spark-packages in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   5   |   5   |   5   |   0   ||   5   |   5   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-edad58f9-37fa-4e91-a351-28c9111d080d
	confs: [default]
	5 artifacts copied, 0 already retrieved (4883kB/17ms)

22/08/29 15:44:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

Py4JJavaError: An error occurred while calling o32.load.
: java.lang.NoClassDefFoundError: scala/Product$class
	at com.github.saurfang.sas.spark.SasRelation.<init>(SasRelation.scala:48)
	at com.github.saurfang.sas.spark.SasRelation$.apply(SasRelation.scala:42)
	at com.github.saurfang.sas.spark.DefaultSource.createRelation(DefaultSource.scala:50)
	at com.github.saurfang.sas.spark.DefaultSource.createRelation(DefaultSource.scala:39)
	at com.github.saurfang.sas.spark.DefaultSource.createRelation(DefaultSource.scala:27)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:350)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:228)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:210)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:210)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:185)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.ClassNotFoundException: scala.Product$class
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	... 23 more

In [11]:
#write to parquet
#df_spark.write.parquet("sas_data")
df_spark=spark.read.parquet("data/sas_data")

#df_spark.show(2)
df_spark.limit(5).toPandas()

In [12]:
# Data contains codes for airports all over the world
df_airport = pd.read_csv('data/airport-codes_csv.csv')

In [13]:
df_airport.tail()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
55070,ZYYK,medium_airport,Yingkou Lanqi Airport,0.0,AS,CN,CN-21,Yingkou,ZYYK,YKH,NaN,"122.3586, 40.542524"
55071,ZYYY,medium_airport,Shenyang Dongta Airport,NaN,AS,CN,CN-21,Shenyang,ZYYY,NaN,NaN,"123.49600219726562, 41.784400939941406"
55072,ZZ-0001,heliport,Sealand Helipad,40.0,EU,GB,GB-ENG,Sealand,NaN,NaN,NaN,"1.4825, 51.894444"
55073,ZZ-0002,small_airport,Glorioso Islands Airstrip,11.0,AF,TF,TF-U-A,Grande Glorieuse,NaN,NaN,NaN,"47.296388888900005, -11.584277777799999"
55074,ZZZZ,small_airport,Satsuma IÅjima Airport,338.0,AS,JP,JP-46,Mishima-Mura,RJX7,NaN,NaN,"130.270556, 30.784722"

In [14]:
df_airport.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55075 entries, 0 to 55074
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ident         55075 non-null  object
 1   type          55075 non-null  object
 2   name          55075 non-null  object
 3   elevation_ft  48069 non-null  float64
 4   continent     27356 non-null  object
 5   iso_country   54828 non-null  object
 6   iso_region    55075 non-null  object
 7   municipality  49399 non-null  object
 8   gps_code      41030 non-null  object
 9   iata_code     9189 non-null   object
 10  local_code    28686 non-null  object
 11  coordinates   55075 non-null  object
dtypes: float64(1), object(11)
memory usage: 5.0+ MB

In [15]:
df_cities= pd.read_csv('data/us-cities-demographics.csv', delimiter =';')

In [16]:
df_cities.head()

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402

In [17]:
df_country_code = pd.read_csv('data/country_code.csv')
df_country_code.head(15)

    country_code                                               country_name
0   582           MEXICO Air Sea, and Not Reported (I-94, no land arrivals)
1   236           AFGHANISTAN
2   101           ALBANIA
3   316           ALGERIA
4   102           ANDORRA
5   324           ANGOLA
6   529           ANGUILLA
7   518           ANTIGUA-BARBUDA
8   687           ARGENTINA
9   151           ARMENIA
10  532           ARUBA
11  438           AUSTRALIA
12  103           AUSTRIA
13  152           AZERBAIJAN
14  512           BAHAMAS

In [18]:
df_airport_code = pd.read_csv('data/i94port.csv')
df_airport_code.head()

  airport_code              airport_name airport_state_or_country
0  ALC          ALCAN                     AK
1  ANC          ANCHORAGE                 AK
2  BAR          BAKER AAF - BAKER ISLAND  AK
3  DAC          DALTONS CACHE             AK
4  PIZ          DEW STATION PT LAY DEW    AK

In [19]:
df_trans_mode = pd.read_csv('data/i94mode.csv')
df_trans_mode

   i94_mode transportation_mode
0  1         Air
1  2         Sea
2  3         Land
3  9         Not reported

In [20]:
df_state_code = pd.read_csv('data/state_code.csv')
df_state_code.head()

  state_code  state_name
0  AL         ALABAMA
1  AK         ALASKA
2  AZ         ARIZONA
3  AR         ARKANSAS
4  CA         CALIFORNIA

In [21]:
df_visa = pd.read_csv('data/visa_type.csv')
df_visa

   i94_visa visa_type
0  1         Business
1  2         Pleasure
2  3         Student

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [22]:
# Roll up city data into states and convert some columns into fractions of total population

df_states = df_cities.groupby("State Code").agg({"Median Age": "mean",
                                     "Male Population": "sum",
                                     "Female Population": "sum",
                                     "Total Population": "sum",
                                     "Number of Veterans": "sum",
                                     "Foreign-born": "sum",
                                     "Average Household Size": "mean",
                                     "Count": "count"})

# Convert summed values into fraction of total population
df_states["Male Population"] = df_states["Male Population"]/df_states["Total Population"]
df_states["Female Population"] = df_states["Female Population"]/df_states["Total Population"]
df_states["Number of Veterans"] = df_states["Number of Veterans"]/df_states["Total Population"]
df_states["Foreign-born"] = df_states["Foreign-born"]/df_states["Total Population"]

In [23]:
# Join df_states with df_state_code
df_joined_states = df_state_code.join(df_states, how='left', on='state_code')

In [24]:
# Join df_states with df_state_code
df_joined_states = df_state_code.join(df_states, how='left', on='state_code')
# Create a new csv file with states data
df_joined_states.to_csv('data/us_states.csv')

In [25]:
df_joined_states.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55 entries, 0 to 54
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   state_code              55 non-null     object
 1   state_name              55 non-null     object
 2   Median Age              49 non-null     float64
 3   Male Population         49 non-null     float64
 4   Female Population       49 non-null     float64
 5   Total Population        49 non-null     float64
 6   Number of Veterans      49 non-null     float64
 7   Foreign-born            49 non-null     float64
 8   Average Household Size  48 non-null     float64
 9   Count                   49 non-null     float64
dtypes: float64(8), object(2)
memory usage: 4.4+ KB

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [26]:
####################################################
## SQL Queries to build tables in Redshift#########

create_tables= ("""
CREATE TABLE IF NOT EXISTS public.staging_immigration (
     cicid FLOAT,
     i94yr FLOAT,
     i94mon FLOAT,
     i94cit FLOAT,
     i94res FLOAT,
     i94port VARCHAR,
     arrdate FLOAT,
     i94mode FLOAT,
     i94addr VARCHAR,
     depdate FLOAT,
     i94bir FLOAT,
     i94visa FLOAT,
     count FLOAT,
     dtadfile VARCHAR,
     visapost VARCHAR,
     occup VARCHAR,
     entdepa VARCHAR,
     entdepd VARCHAR,
     entdepu VARCHAR,
     matflag VARCHAR,
     biryear FLOAT,
     dtaddto VARCHAR,
     gender VARCHAR,
     insnum VARCHAR,
     airline VARCHAR,
     admnum FLOAT,
     fltno VARCHAR,
     visatype VARCHAR
);
     
CREATE TABLE IF NOT EXISTS public.states (
     state_code VARCHAR,
     state_name VARCHAR,
     median_age FLOAT,
     male_population FLOAT,
     female_population FLOAT,
     total_population INTEGER,
     number_of_veterans FLOAT,
     foreign_born FLOAT,
     household_size FLOAT,
     city_count INTEGER,
     CONSTRAINT states_pkey PRIMARY KEY (state_code)
);
     
CREATE TABLE IF NOT EXISTS public.airport_code (
     airport_code VARCHAR,
     airport_name VARCHAR,
     airport_state VARCHAR,
     CONSTRAINT airport_pkey PRIMARY KEY (airport_code)
);    
     
CREATE TABLE IF NOT EXISTS public.countries (
     country_code VARCHAR,
     country_name VARCHAR,
     CONSTRAINT countries_pkey PRIMARY KEY (country_code)
); 

CREATE TABLE IF NOT EXISTS public.staging_trans_mode (
     i94_mode INTEGER,
     transportation_mode VARCHAR,
     CONSTRAINT trans_mode_pkey PRIMARY KEY (i94_mode)
); 
     
CREATE TABLE IF NOT EXISTS public.staging_visa_code (
     i94_visa INTEGER,
     visa_type VARCHAR,
     CONSTRAINT visa_pkey PRIMARY KEY (i94_visa)
); 
     
CREATE TABLE IF NOT EXISTS public.arrivals (
     cicid INTEGER,
     state_code INTEGER,
     country_code INTEGER,
     airport_code VARCHAR,
     arrdate INTEGER,
     arrival_code VARCHAR,
     arrival_mode VARCHAR,
     state VARCHAR,
     airline VARCHAR,
     admnum BIGINT,
     fltno VARCHAR
);
     
CREATE TABLE IF NOT EXISTS public.admissions (
     admnum BIGINT,
     gender VARCHAR,
     age VARCHAR,
     biryear TIMESTAMP,
     visa_code INTEGER,
     visa_type VARCHAR,
     CONSTRAINT admissions_pkey PRIMARY KEY (admnum)
);

CREATE TABLE IF NOT EXISTS public.time (
    arrdate TIMESTAMP,
    month int4,
    year int4,
    week int4,
    day int4,
    weekday int4,
    CONSTRAINT time_pkey PRIMARY KEY (arrdate)
);
""")

In [27]:
####################################################
## SQL Queries to copy csv tables into Redshift#####

copy_sql = """
COPY {}
FROM '{}'
ACCESS_KEY_ID '{}'
SECRET_ACCESS_KEY '{}'
IGNOREHEADER 1
CSV;
"""

########################################################
## SQL Queries to copy parquet tables into Redshift#####

copy_parquet_sql = """
COPY {}
FROM '{}'
IAM_ROLE '{}'
FORMAT AS PARQUET;
"""

In [28]:
##################################################
## SQL Queries to insert tables into Redshift#####
        
arrivals_table_insert = ("""
SELECT CAST(im.cicid AS INT),
       CAST(im.i94cit AS INT) AS state_code,
       CAST(im.i94res AS INT) AS country_code,
       im.i94port AS airport_code,
       CAST(arrdate AS INT),
       CAST(im.i94mode AS INT) AS arrival_code,
       tm.transportation_mode AS arrival_mode,
       im.i94addr AS state,
       im.airline,
       CAST(im.admnum AS BIGINT),
       im.fltno
    FROM staging_immigration AS im
    LEFT JOIN staging_trans_mode AS tm
    ON CAST(im.i94mode AS INT) = tm.i94_mode
""")

admissions_table_insert = ("""
SELECT CAST(im.admnum AS BIGINT),
       im.gender,
       CAST(im.i94bir AS INT),
       to_timestamp(CAST(im.biryear AS INT), 'YYYY') as birth_year,
       CAST(im.i94visa AS INT),
       vs.visa_type
    FROM staging_immigration AS im
    LEFT JOIN staging_visa_code AS vs
    ON CAST(im.i94visa AS INT) = vs.visa_type
""")

time_table_insert = ("""
SELECT dates.arrtime AS arrdate,
       extract(year from dates.arrtime),
       extract(month from dates.arrtime),
       extract(week from dates.arrtime), 
       extract(day from dates.arrtime),
       extract(dayofweek from dates.arrtime) AS weekday
    FROM (SELECT DATEADD(day, CAST(arrdate AS INT), '1900-01-01') AS arrtime
        FROM staging_immigration) dates
""")

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [29]:
# Data quality checks to run in SQL
data_quality_checks =[
 {'check_sql': "SELECT COUNT(*) FROM arrivals WHERE cic_id IS NULL", 'expected_result':0},   
 {'check_sql': "SELECT COUNT(*) FROM admissions WHERE admnum IS NULL", 'expected_result':0},
 {'check_sql': "SELECT COUNT(*) FROM time WHERE arrdate IS NULL", 'expected_result':0},
 {'check_sql': "SELECT COUNT(*) FROM states WHERE state_code IS NULL", 'expected_result':0},
 {'check_sql': "SELECT COUNT(*) FROM states WHERE state_code IS NULL", 'expected_result':0}
]

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up

AWS S3 is chosen as the storage platform due to its low cost, high availability, and compatibility with AWS Redshift.

Redshift is selected to host the relational table since it allows for easy start-up process, security, and fast scaling. Further, it has an SQL interface and works very well with data stored in AWS S3 (high performance parallel loading).

Airflow is selected as the primary technology to schedule and track the workflow in the ETL pipeline. Airflow provides a simple user interface and the ability to monitor tasks and send alerts in case any of the process fails. In addition, Airflow is easily extendable through the use of custom operators, hooks, and sensors.

#### Additional info

The database can be updated on a daily basis as there are over 80 million visitors to the United States every year which is roughly 7 million visitors per month or 230,000 visitors per day. This schedule allows for frequent updates while not requiring too much resources (compute and duration) on each update.

In the scenario that the data was increased by 100x:

    Host the data on multiple clusters of machine and use Spark SQL to leverage the power of distributed computing in order to speed up the data ingestion and processing steps.

In the scenario that the data populates a dashboard that must be updated on a daily basis by 7am every day:

    Continue to use AirFlow to update the data but will add a service level agreement to ensure that the data processing is completed before the daily deadline. An alert email can be set up to indicate failure along the process to allow early detection.

In the scenario that the database needed to be accessed by 100+ people:

    Choose a database system that is compatible with Spark as Spark has powerful built-in tools to handle concurrent operations by scheduling work in a sequential manner while still enabling parallelism.